html, body{
    width: 100%;
    height: 100%;
    background-color:  #edf1f7;
}
.pad-bot-10{
    padding-bottom: 20px !important;
}
.card-panel{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
#quote{
    border-color: auto
    font-size:7em;
}
#author{
    font-style: italic;
    font-weight: 200;
}
blockquote {
    background: #00000000;
    border-left: 5px solid #4286F4;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #4286f4;
    content: open-quote;
    font-size: 8em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}